body {
    background-image: url('../images/background.jpg');
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

h1 {
    margin-top: 45px;
    font-size: 45px;
}

section {
    margin-top: 30px;
    margin-bottom: 15px;
}

h2 {
    margin: 0px auto;
    font-size: 20px;
    color: black;
    border: solid 5px white;
    background-color: white;
    width: 30%;
    margin-bottom: 30px;
}

h2 #button-area {
    margin-bottom: 5px;
}
#your-stats {
    margin-top: 30px;
    color: white;
}